@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

#timer_button {
	float: right;
	text-align: right;
	position: fixed;
	right: 0px;
}

#stopwatch {
	background-color: #00CCFF;
	color: #F2F2F2;
}

body {
  /*background-image: url("http://www.pageresource.com/wallpapers/wallpaper/texture-ground-back-white-textured-textureimages_1175896.jpg");*/
	position: static;
    /*background-repeat: repeat-x, repeat;*/
  /*background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-color: #F2F2F2;
  text-align: center; width: 100%;
  font-family: "Josefin Sans";
	color: darkblue;
}

.menu {
	font-family: "Josefin Sans";
  background:#00CCFF;
  color:black;
  height:60px;
  line-height:40px;
  letter-spacing:1px;
  width:100%;
}
#welcome_button{
	width: 200px;
	height: 100px;
	font-size: 22px;
	background-color: #00CCFF;
	border: none;
	display: inline;
	color: darkblue;
}
#text_edit {
  background-color: #CCC;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  display: inline;
}

#text_edit2 {
  text-align: right;
  background-color: #CCC;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  display: inline;
  text-align: center; width: 100%;
  font-family: "Josefin Sans";
}

#text_editor_buttons {
   background-color: transparent;
}

#essay {
  width: 70%;
  display: inline-block;
  text-align: left;
  border: 3px solid #9494B8;
  background-color: transparent;
  resize: none;
  font-size: 22px;
}

#essay_view {
	background-color: white;
	width: 70%;
	margin: auto;
	text-align: left
	padding: 10px;
}
#title{
  width:70%;
	outline: none;
}

#button{
  margin: auto;
  width: 40%;
  background-color: #00CCFF;
  border: none;
	height: 50px;
	font-size: 20px;
	color: #F2F2F2;
}

#fonts{
  margin-left: 15%;
  width: 20%;
  float: left;
  margin-right: 10px;
  text-align: left;
}

#pacman{
  width: auto;
  align: center;
  display: none;

}
#font_size{
  margin-right: 15%;
  width: 20%;
  float: right;
  margin-left: 10px;
  text-align: right;
}
#logo{
  text-align:center;
	width: 35%;
	height: 150px;
}

#logo_menu {
	float: right;
	right: 5px;
	width: 12%;
	height: 60px;
}
#embed_template{
  width: 70%;
  display: inline-block;
  text-align: left;
  border: 3px solid darkblue;
  background-color: transparent;
  resize: none;
  font-size: 22px;
	outline: none;
}

#stopwatch_button {
  color: black;
}
#start_time{
  color: black;

}

#txt{
  color: black;

}

#game_center {
  display: none;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: auto;
  height: 200px;
}

#Welcome_Paragraph {
	color: darkblue;
	font-size: 20px;
	padding-left: 170px;
	padding-right: 170px;
	background-color: gray;
	height: 200px;
	font-family: "Josefin Sans";
	margin: auto;
	text-align: center;

}

#carousel-example-generic {
	width: 100%;
	height: 300px;
	margin-bottom: 0px;
}

#carousel_image{
	height: 300px;
	margin: auto;
	text-align: center;
}

#get_button{
	background-color: #00CCFF;
	border: none;
	width: 10%;
	height: 30px;
	font-size: 14px;
	margin: auto;
	text-align: center;
	color: #F2F2F2;
}

#remove_button{
	background-color: #00CCFF;
	border: none;
	display: inline;
	width: 10%;
	height: 30px;
	font-size: 14px;
	margin: auto;
	text-align: center;
	color: #F2F2F2;
}

#back_button_remove {
	background-color: #00CCFF;
	border: none;
	display: inline;
	width: 15%;
	height: 40px;
	font-size: 18px;
	margin: auto;
	text-align: center;
	color: #F2F2F2;
}

#back_button_view {
	background-color: #00CCFF;
	border: none;
	display: inline;
	width: 15%;
	height: 40px;
	font-size: 18px;
	margin: auto;
	text-align: center;
	color: #F2F2F2;
}
