<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="jquery-1.11.3.min.js"></script>
  <script src="script.js"></script>

  <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <ul class="nav nav-pills" id="navigation">
  <li role="presentation" class="active"><a href="write">Essay</a></li>
  <li role="presentation"><a href="myessays">Archive</a></li>
  <li role="presentation"><a href="references">References</a></li>
  <li role="presentation"><a href="/">Change Time</a></li>
  <li role="presentation" id="logout"><a href="">Logout</a></li>
</ul>
  <h1>Here is Your Archive</h1>
  <br>
  {% for essay in essays%}
  <div id = "archive_essays"> <h3>{{essay.title}}</h3> </div>
    <form action="/essay_view" method="post">
        <div><input type="submit" value="Get + {{essay.title}}"</div>
        <input type="hidden" name="essay_id" value={{essay.key.id()}}>
      </form>
      <form action="/essay_view" method="post">
          <div><input type="submit" value="Remove + {{essay.title}}"</div>
          <input type="hidden" name="essay_id" value={{essay.key.id()}}>
        </form>
    {%endfor%}
<br>
<br>
</body>
</html>
