<! DOCTYPE html>
<html>
<head>

  <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<br>
<br>

<form action="/" method="post">
  <input type = "text" value = "Username" name = "user">
  <br><br>
    <div>Essay: <br><br>
    <textarea id="essay" rows="30" cols="40" name="essay_text"/>
    </textarea></div>
    <br>
    <div><input type="submit" value="Save"></div>
  </form>
   <!--add box for 'you have {{time}} minutes remaining' -->
   <div id="timedisplay">
     You have {{screenTime}} minutes
   </div>
</body>
</html>
