<!DOCTYPE html>
<html>
<head>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!--<script src="scripts/script.js"></script> -->
  <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <title>Word Play</title>
  <link rel="shortcut icon" href="http://i62.tinypic.com/2lt3fhy.jpg">

</head>
<body>
    <div class="menu">
  <ul class="nav nav-pills" id="navigation">
  <li role="presentation" class="active"><a href="write">Home</a></li>
  <li role="presentation"><a href="myessays">Archive</a></li>
  <li role="presentation"><a href="about">About</a></li>
  <li role="presentation"><a href="/">Welcome Page</a></li>
  <img src="http://i62.tinypic.com/2lt3fhy.jpg" id="logo_menu"</img>

</div>
</ul>
<br>
<br>
 {{essay_title}}
<br>
<h1>Removed</h1>
    <br><br>
    <form action="/myessays">
  <input id="back_button_remove" type="submit" value="Back to Archive Menu">
</form>
</body>
</html>
