<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="jquery-1.11.3.min.js"></script>
  <script src="script.js"></script>

  <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <ul class="nav nav-pills" id="navigation">
  <li role="presentation" class="active"><a href="write">Essay</a></li>
  <li role="presentation"><a href="myessays">Archive</a></li>
  <li role="presentation"><a href="references">References</a></li>
  <li role="presentation"><a href="/">Change Time</a></li>
  <li role="presentation" id="logout"><a href="">Logout</a></li>
</ul>
<br>
<br>
  Welcome to WordPlay! How long would you like to work before unlocking your first game?
  **there's a timer set on the next page, so this can probably be replaced by an explanation/welcome screen**
<br>
<br>
<form action = "write" method = "post">
    <p>Enter a number of seconds:<input type="text" name="seconds"></p>

  <input type="submit" value="Let's go!" >

</form> <center>


</body>
</html>
