<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="jquery-1.11.3.min.js"></script>
  <script src="script.js"></script>

  <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<br>
<br>
<br>
<br>
<h1> Welcome to WordPlay! </h1>
<br>
<br>
<p id="Welcome_Paragraph"> <br><br>Brought to you by Team CRY, WordPlay offers a new way to work. Simply specify the amount of time you would like to spend on your essay and when that time elapses, you will be rewarded with a game break. Offering incentive to work will make you more productive by giving your brain small breaks to remain focused while working. So enter a time and get ready to write!
<br>
<form action = "write" method = "post">
<br>
  <h3>Are you ready to play?</h3>
  <br>
  <br>
  <input type="submit" value="Let's go!" id="welcome_button">


</form> <center>


</body>
</html>
